@import './assets/transition.scss';

body {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family : 'Ubuntu', sans-serif; 
  background-color: rgba(255, 253, 197, 0.405);
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.container{
  display: flex;
  width: 100%;
  
  padding: 200px 0 50px 0;
  justify-content: center;
  align-items: center;
  
}
