@import './assets/colors.scss';

header{
    background-color: $background-yellow;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;

    .logo{
        transition: height .5s ease-in-out;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        &.compressed{
            height: 0px;
        }
        &.compressed + .navbar{
            box-shadow: 0px 1px 10px #999;
            
        }

        div{
            height: 150px;
            min-width: 150px;
            display: flex;
            align-items: center;
            
            img{
                height: 60%;
                width: auto;
                margin: 20px;
            }
            h1{
                font-weight: 300;
                letter-spacing: 5px;
                color: #b62018;
            }
           
        }
    }

    .navbar{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: auto;
        
        div{
            padding: 0;
            display: flex;
            list-style: none;
            width: 80%;
            justify-content: flex-start;
            padding: 10px;
            
            a{
                display: flex;
                padding: 10px 20px;
                cursor: pointer;
                margin-right: 10px;
                border-bottom: 2px solid transparent;
                transition: border .2s ease-in-out;
                color: black;
                text-decoration: none;

                &:last-child{
                    margin-left: auto;
                    margin-right: 0;
                }

                &.active{
                    border-color: $background-yellow-hover;
                }
                
            }
        }
    }
}